<div class="row">
  <div class="column">
    <h1>Photo Feed</h1>
  </div>
</div>

<div class="row">
  <%= for post <- @posts do %>
    <div class="col-sm-4 card">
      <!--
        <img class="card-img-top" src="" alt="">
      -->
      <div class="card-body">
        <p class="card-text"><%= post.body %></p>
        <%= link(
              "view",
              to: Routes.post_path(@conn, :show, post)
            ) %>
      </div>
    </div>
  <% end %>
</div>
